// Fontes: 
$fontePrincipal: Roboto, sans-serif;

// Esquema de cores:
$corFundo: #c8d6e5;
$corHeader: rgb(19, 19, 126); 
$corPrincipal: #185be2;
$corSecundaria: #02af07;

// Breakpoints:
$mobile: 767px;
$tablet: 1023px;