h2 {
    margin-top: 20px;
}

body {
    background-image: linear-gradient(rgb(34, 183, 233), rgb(77, 1, 77));
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0 auto;
    max-width: 512px;
}


time {
    display: block;
}

.post {
    margin-bottom: 24px;
}

form {
    max-width: 400px;
}

form textarea {
    resize: none;
    height: 150px;
}

button, label, input {
    margin-top: 10px;
}

.form-check-input {
    margin-top: 15px;
}